<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button id="createRoom">Create Room</button>
    <input id="roomInput" placeholder="Enter room ID" />
    <button id="joinRoom">Join</button>
</body>
<script src="/js/index.js"></script>

</html>