.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.webrtc_container{
    position: absolute;
     top: 8px;
     right: 16px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}